.menuBar {
  display: flex;
  justify-items: center;
  align-content: center;
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
  border-bottom: solid 1px #e2e8f0;
  overflow: hidden;
  box-shadow: 0 0 30px #f3f1f1;
  height: none;
}
.logo {
  background: rgba(255, 255, 255, 0.2);
  width: 100px;
  float: left;
  margin: 0;
}
.logo img {
  height: 50px;
}

.logo a {
  display: inline-block;
  font-size: 20px;
  padding: 19px 20px;
  text-transform: capitalize;
}
.menuContent {
  align-self: center;
  width: 100%;
  float: left;
}
.menuContent .ant-menu-item {
  padding: 0px 5px;
}
.menuContent .ant-menu-submenu-title {
  padding: 10px 20px;
}
.menuContent .ant-menu-item a,
.menuContent .ant-menu-submenu-title a {
  padding: 10px 15px;
}
.menuContent .ant-menu-horizontal {
  border-bottom: none;
}
.menuContent .primaryMenu {
  float: left;
}
.menuContent .secondaryMenu {
  float: right;
}
.barsMenu {
  float: right;
  height: 32px;
  padding: 6px;
  margin-top: 8px;
  display: none;
  background: none;
}
.barsBtn {
  display: block;
  width: 20px;
  height: 2px;
  position: relative;
}
.ant-drawer-body {
  padding: 0;
}
.ant-drawer-body .ant-menu-horizontal > .ant-menu-item,
.ant-drawer-body .ant-menu-horizontal > .ant-menu-submenu {
  display: inline-block;
  width: 100%;
}
.ant-drawer-body .ant-menu-horizontal {
  border-bottom: none;
}
.ant-drawer-body .ant-menu-horizontal > .ant-menu-item:hover {
  border-bottom-color: transparent;
}

@media (min-width: 767px) {
  .barsMenu {
    display: none !important;
  }
}
@media (max-width: 767px) {
  .ant-menu-vertical {
    border: none !important;
  }
  .menuBar {
    height: inherit;
  }
  .primaryMenu,
  .secondaryMenu {
    display: none;
  }
  .logo a {
    margin-left: -20px;
  }
  .menuContent .ant-menu-item,
  .menuContent .ant-menu-submenu-title {
    padding: 1px 20px;
  }
  .logo a {
    padding: 10px 20px;
  }
}
