:root {
  --fontSize: 1rem;
  --defaultColor: hsl(197, 10%, 45%);
  --defaultBackground: #fff;
  --defaultOffColor: hsl(240, 6%, 97%);
  --defaultShadow: rgba(0, 0, 0, 0.15);
  --defaultBreak: 640px;

  --primary-accent-color: hsl(245, 89%, 65%); /* use for primary color*/
  --secondary-color: hsl(207, 22%, 81%); /* use for opposite color to primary*/
  --primary-shade-color: hsl(
    244,
    85%,
    87%
  ); /* use for shades/underline of primary*/
  --primary-bg-color: hsl(0, 0%, 100%); /* use for main page bg*/
  --secondary-bg-color: hsl(206, 28%, 90%); /* use for nabvbar bg color*/
  --primary-border-color: hsl(
    207,
    22%,
    81%
  ); /* use for borders to separate section*/
  --primary-success-color: hsl(174, 74%, 39%);
  --primary-fail-color: hsl(351, 62%, 55%);
  --primary-text-color: hsl(208, 25%, 22%); /* primary large texts */
  --secondary-text-color: hsl(208, 13%, 53%); /* use for large texts*/
  --font-size-lg: 1.5rem; /*24 px*/
  --font-size-md: 1rem; /*16 px*/
  --font-size-sm: 0.7rem; /* 11.2px*/
  --font-weight: 400;
  --line-height: 1.5rem; /* use when using font-size-large*/
}

body {
  color: var(--defaultColor);
  font-size: var(--fontSize);
}

.App-container {
  min-height: 100vh;
  background-color: var(--defaultBackground);
}

.App-container > .ant-layout {
  background: var(--defaultBackground);
}

.loginForm-container {
  display: flex;
  justify-content: center;
  padding: 1.5rem;
}

.loggedin-layout {
  margin-top: 64px;
  background-color: var(--defaultBackground);
}

.loggedOut {
  display: flex;
  padding-top: 100px;
  justify-content: center;
  transition: all 0.25s ease-in;
}

.loggedOut-box {
  margin: 0 2rem;
  align-self: center;
  justify-content: center;
  width: 350px;
  background: #fff;
  border-radius: 0.8rem;
  overflow: hidden;
  box-shadow: 1px 1px 5px 0 var(--defaultShadow);
  transition: all 0.5s ease-in;
}

.loggedOut .ant-tabs-nav-container {
  background: var(--defaultOffColor);
  height: 72px !important;
  padding: 1rem 1.5rem;
  border: none;
  flex: 1 1;
  text-align: center;
}

.loginForm {
  width: 100%;
  max-width: 300px;
}

.loginForm-forgot {
  float: right;
}

.loginForm-button {
  width: 100%;
}

.about {
  margin: 0 2rem;
  width: 200px;
  transition: all 0.5s ease-in;
}

@media screen and (max-width: 640px) {
  .about {
    display: none;
  }

  .loggedOut {
    padding-top: 15%;
  }
}
